body{
display: flex;
flex-wrap: warp;
justify-content: center;

}
.flex-container-top{
background-color:#22444e;
position: fixed;
top:0;
left: 0;
right: 0;
height:17vh;
@media screen and (width < 43rem) {
    background-color:#22444e;

    top:0;
    left: 250px;
    right: 0;
    height:17vh;
}
}

.flex-navbar{
    display: flex;
    flex:1;
    justify-content: center;
   
}
.sidebar-container-flex{
position: fixed;
height: 83vh;
left:0;
bottom:0;
width: 20vw;

}
.flexCenter{
    display:flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    min-width: 30rem;
    overflow: hidden;
    min-height: 100vh;
    flex:1;
    @media screen and (width < 61rem) {
        min-width: 20rem;
    }
    @media screen and (width < 43rem) {
        min-width: 15rem;
    }
}
    
.sidebar-flex{
    align-self: center;
    justify-self: space-evenly;
    justify-items: center;
}
.playlist-button{
    justify-items:center;
}
.news-container-flex{
    position: fixed;
    height:83vh;
    right:0;
    bottom:0;
    width:20vw;
    @media screen and (width < 43rem) {
        background-color:#22444e;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        height:17vh;
    }
}
.flex-container-login{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 177px;
    max-width: 177px;
    min-height: 133px;
    justify-content: center;
    
    
}
.main-contianer-flex{
    display: flex;
    border: 3px solid rgb(255, 255, 255);
    min-width: 20ch;
    height: 100vh;

    p{
        display: grid;
        text-justify: auto;
        text-align: justify;
        margin-inline: 5px;
        row-gap: 1rem;
    }
}
footer{
    background-color: var(--bg-lpuprle-color);
    
    width: 100%;
    border: 2px solid tomato;
}
