body{
display: flex;
flex-wrap: wrap;
justify-content: center;

}
.flex-container-top{
background-color:#22444e;
position: fixed;
top:0;
left: 0;
right: 0;
height:17vh;
@media screen and (width < 43rem) {
  height: fit-content; 
  position: fixed;
  background-color:#22444e;
  z-index: 1000;
}
}

.flex-navbar{
    display: flex;
  
    justify-content: center;
   
}

.flexCenter{
    display:flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    min-width: 30rem;

    min-height: 100%;
    flex:1;
    @media screen and (width < 61rem) {
        min-width: 20rem;
    }
    @media screen and (width < 43rem) {
        min-width: 90vw;
       
    }
}
    
.sidebar-flex{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: space-evenly;
    justify-items: center;
    position: fixed;
    height: 83vh;
    left:0;
   bottom:0;
   width: 20vw;


    @media screen and (width < 43rem) {
        display: none;
     }
}
.playlist-button{
    justify-items:center;
}
.news-container-flex{
    position: fixed;
    height:83vh;
    right:0;
    bottom:0;
    width:20vw;
    @media screen and (width < 43rem) {
       display: none;
    }
}
.flex-container-login{
    
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 177px;
    max-width: 177px;
    min-height: 133px;
    justify-content: center;
    @media screen and (width < 43rem) {
       margin-top: 0;
       padding-top: 0;
       position: relative;
       bottom: 4rem;
       scale: 1.4;

     }
    
    
}
.main-contianer-flex{
    display: flex;
    border: 3px solid rgb(255, 255, 255);
    min-width: 20ch;
    min-height: 100vh;

    
}
footer{
    background-color: var(--bg-lpuprle-color);
    
    width: 100%;
    border: 2px solid tomato;
}



