h1{
    text-align: center;
    text-shadow: 3px 3px 5px chocolate;
    text-shadow: -3px -3px -10px cornflowerblue;
    font-family: RacingSansOne-Regular.ttf;
}
body {
    background-color: #F7FFF6;
  }
  
  .navbar ul{
    list-style-type: none;
    background-color: #93B48B;
    padding: 15px;
    margin: 0;
    overflow: hidden;
  }
  
  .navbar a{
    color: #000000;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 2rem;
  }
  
  .navbar a:hover{
    background-color: #BCEBCB;
  }
  
  .navbar li{
    float: left;
  }
  @font-face {
    src: url(fonts/RacingSansOne-Regular.ttf);
  }

