.navbar ul{
    list-style-type: none;
    background-color: #429EA6;
    padding: 0;
    margin: 0;
    overflow: hidden;

}
.navbar a{
    color: #ECEBE4;
    text-decoration: none;
    padding: 15px;
    

}
body{
    background-color:#C9DAF8;
}