*, *::before, *::after {
    box-sizing: border-box;
}

*{
margin: 0;
}

//#4ea5d9 // kind of blue 
//#122c34 // metalgun
//#eb9486 // coral 
//#f3de8a // yellow
//#2e3532 // green

:root{
--bg-main-color:#122c34; // in order to  implement it we need to use var().
--bg-puprle-color: #1e1c22;
--bg-sec-color: #4ea5d9;
--bg-third-color:#eb9486;
--fn-tomato-color:#ff6347;
--rn-green-color: #2e3532; 
--rn-yellow-color: #f3de8a; 
}
header{
flex: 1;
}
main{
min-height: 100vh;
}
.navbar {
    display: grid;
   
}
.navul{
height: 15vh; 
grid-template: repeat(12, 1fr) / repeat(12, 1fr);
align-items:center;
flex: 1;
display: grid;
background-color: var(--bg-puprle-color);
grid-column-gap: 1vh;
flex-flow: row wrap;


}

.navul li, button, a {
list-style-type: none;
text-decoration: none;
justify-content: center;
border-radius: 8px;
background-color: rgb(30, 28, 34);
color: #ff6347;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 

}
button:hover{
    background-color: rgb(83, 74, 105);
    
    }
    a:hover{
        background-color: rgb(83, 74, 105);
        
        }
a:active{
    background-color: rgb(43, 51, 53);
}

button:active{
    background-color: rgb(43, 51, 53);

}
h1{
    margin-top:3vh;
    color: var(--fn-tomato-color);
    font-size: 3.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    
    
}
.logo {
    grid-area: 2 / 3 / 6 / 5;
    margin-bottom: 0.5rem;
    padding: 0;
    display:block; 
	width:90%; 
	
}
.gen{
background-color: rgb(238, 149, 108);
text-align: center;
grid-area: 12 / 1 / 12 / 2;

}
.rev{

text-align: center;
grid-area: 12 / 2 / 12 / 3;
}
.play {

    text-align: center;
    grid-area: 12 / 3 / 12 / 4;
}
.guitar{
grid-area: 12/4/12/5;
text-align: center;


}
.bass{
    grid-area: 12/5/12/6;
    border-radius: 16px;
    
    text-align: center;

}
.drum{
grid-area: 12/6/12/7;
border-radius: 16px;

text-align: center;

}
.sing{
    grid-area: 12/7/12/8;
    border-radius: 16px;
    
    text-align: center;
}

.gridcon{

    display: grid;
    grid-template: repeat(12, 3fr) / repeat(12,3fr);
    border: 3px solid;
    background-color: rgb(243, 243, 243);
   



}
.con1 {
grid-area:1/1/7/6;
min-height: 15vh;
max-height: 35vh;
  border: 2px solid;
  background-color: rgb(72, 115, 165); 

}
.con2{
grid-area: 1/5/7/9;
    border: 2px solid;
    background-color: rgb(59, 59, 80);
}
.con3 {
    grid-area: 1/9/7/13;
border: 2px solid tomato; 
background-color: rgb(55, 56, 102);
}


   